.sucessViewUl {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}
